@{
    ViewData["Title"] = "Home Page";
    Layout = "SWLayout";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="left-align">
        <a asp-action="TourSuivant" asp-controller="Home" class="btn btn-warning mb-3">Tour suivant</a>
    </div>
</div>
